<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-search-bar></app-search-bar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <ul>
        <app-categores *ngFor="let categore of catigores" [CatigoriName]="categore" [NumbeOfcards]="getNumber(categore)"
          (click)="changeCatrds(categore)"></app-categores>
      </ul>
    </div>
  </div>
  <div class="row mt-4">
    <app-cards class="col-md-3" *ngFor="let card of food" [food]="card"></app-cards>
  </div>
</div>
