@use '../../sass/variabel.scss' as *;

.card {
  border: 0px;
  box-shadow: 0px 6px 11px #eee;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 18px;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    transform: scale(1.05);
  }
  figure {
    margin: 0px;
    img {
      width: 100%;
      min-height: 204px;
    }
  }
  figcaption {
    padding: 10px;
    .row {
      display: flex;
      &:nth-child(1) {
        justify-content: space-between;
        p {
          width: fit-content;
          margin: 0px;
          color: $mainColor;
          font: {
            weight:600;
          }
        }
        fa-icon {
          width: fit-content;
          color: #ccc;
          &.true {
            color: $mainColor;
          }
        }
      }
      &:nth-child(2) {
        margin-bottom: 6px;
        igc-rating {
          color: gold;
        }
      }
      &:nth-child(3) {
        justify-content: space-between;
        align-items: center;
        .country {
          width: fit-content;
          ul {
            display: flex;
            width: fit-content;
            list-style: none;
            margin: 0px;
            padding: 0px;
            li {
              margin: 0px 5px;
              padding: 2px 4px;
              color: #777;
              background-color: #eee;
              font: {
                size: 10px;
                weight:500;
              }
              border-radius: 4px;
            }
          }
        }
        .time {
          width: fit-content;
          font-size: 12px;
          fa-icon {
            color: $mainColor;
          }
          span {
            margin-left: 2px;
            font: {
              size:12px;
              weight:500;
            }
          }
        }
      }
      &:nth-child(4) {
        span {
          margin: 6px 3px;
          color: #777;
        }
      }
    }
  }
}
