$mainColor:#eb5151;
$max-width-mobile:"max-width:767px";
$min-width-small:"min-width:768px";
$max-width-small:"max-width:991px";
$min-width-medium:"min-width:992px";
$max-width-medium:"max-width:1199px";
$max-width-large:"max-width:1200px";
