@use '../sass/variabel.scss' as * ;

.add {
  display: none;
  &.active {
    display: flex;
    position: absolute;
    background-color:#81c784;
    color: white;
    padding: 20px 60px;
    top: 26px;
    right: 0px;
    z-index: 100;
    font-weight: bold;
    opacity: 0;
    animation: hidden 4s linear forwards;
    div {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 0%;
      height: 5px;
      background-color: #388e3c;
      animation: progress 3s linear forwards;
    }
  }
}
.container {
  margin-top: 50px;
  overflow-x:hidden ;
  .row {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    .col-md-6:nth-child(1){
      figure {
        img {
          width: 100%;
          min-height: 424px;
          border-radius: 20px
        }
      };
    }
    .col-md-6:nth-child(2){
      figcaption {
        .row:nth-child(1) {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            margin: 0px;
            font: {
              size: 25px;
              weight:700;
            }
            width: fit-content;
          }
          fa-icon {
            font-size: 25px;
            width: fit-content;
            color: #ccc;
            &.true {
              color: $mainColor;
            }
          }
        }
        .row:nth-child(2) {
          igc-rating {
            color: gold;
          }
        }
        .row:nth-child(3) {
          ul {
            list-style: none;
            display: flex;
            li {
              font: {
                weight:600;
                size: 15px;
              };
              background-color: #eee;
              padding: 5px;
              border-radius: 5px;
              margin: 10px 5px;
            }
          }
        }
        .row:nth-child(4) {
          p {
            color: #777;
            span {
              color: black;
              font-weight: 900;
            }
          }
        }
        .row:nth-child(5) {
          p {
            color: #ccc;
            font-size: 20px;
            span {
              color: green;
            }
          }
        }
        .row:nth-child(6) {
          button {
            border: 0px;
            background-color: $mainColor;
            color: white;
            padding: 10px 0px;
            border-radius: 18px;
            transition: 0.3s;
            &:hover {
              background-color: #b55214;
            }
          }
        }
      }
    }
  }
}



@keyframes progress {
  to {
    width: 100%;
  }
}

@keyframes hidden {
  0% {
    opacity: 1;
    right: 15px;
  }
  25% {
    opacity: 1;
    right: 35px;
  }
  50% {
    opacity: 1;
    right: 35px;
  }
  75% {
    opacity: 1;
    right: 35px;
  }
  100% {
    right: 15px;
    display: none;
  }
}
